@font-face {
  font-family: "Merriweather Sans";
  src: url("MerriweatherSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather Sans";
  src: url("MerriweatherSans-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Merriweather Sans";
  src: url("MerriweatherSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
