@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Merriweather";
  src: url("Merriweather-Black.woff2") format("woff2");
  font-weight: 800;
}
